html, body {
	background: white;
	height: 100%;
}
table,tr,td {
	margin: auto;
	border: 1px solid black;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.container {
	text-align: center;
	display: table-cell;
	/*vertical-align: middle;*/
}

.content {
	text-align: center;
	/*display: inline-block;*/
}

.menu-option {
	font-size: 16px;
	display: inline-block;
}



ul li{
  display: inline;
  padding: 5px;
}

li.active {
	font-weight: bold;
}
a {
	color: #236DCF;
	text-decoration: none;
}
a:hover{
	color: #c3b4af;
	animation-name: enlaces;
    animation-duration: 0.5s;
	
}

@keyframes enlaces {
    from {color: white;}
    to {color: #c3b4af;}
}

img.icono{
	width: 20px;
	margin-top: 15px;
	vertical-align: bottom;
}